In [1]:
import pandas as pd

In [2]:
food_data = pd.read_csv(r"C:\Users\Sunkanmi\Desktop\Hamoye\FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding="latin1")

In [3]:
food_data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

### Question 1

In [4]:
total_rows = food_data.shape[0]
print(total_rows)

60943

In [5]:
null_2014 = food_data["Y2014"].isnull().sum()
print(null_2014)

1589

In [6]:
null_percentage = round((null_2014/total_rows)*100, 3)
print(null_percentage)

2.607

In [7]:
print(f'{null_2014} and {null_percentage}')

1589 and 2.607

### Question 2

In [8]:
corre = food_data.iloc[:, [4,7,8,9,10]]
corre.head()

   Element Code     Y2014     Y2015     Y2016     Y2017
0           511  38924.00  39728.00  40551.00  41389.00
1          5301      0.00      0.00      0.00      0.00
2           664   3377.00   3379.00   3372.00   3341.00
3           674     94.90     94.35     94.72     92.82
4           684     80.06     79.36     77.40     80.19

In [9]:
corre.corr()
# year with least correlation with element code

              Element Code     Y2014     Y2015     Y2016     Y2017
Element Code      1.000000  0.024457  0.023889  0.023444  0.024254
Y2014             0.024457  1.000000  0.994647  0.996081  0.995230
Y2015             0.023889  0.994647  1.000000  0.995739  0.988048
Y2016             0.023444  0.996081  0.995739  1.000000  0.992785
Y2017             0.024254  0.995230  0.988048  0.992785  1.000000

### Question 5

In [10]:
processing = food_data.groupby("Element")["Y2017"].sum()

In [11]:
print(processing["Processing"])

292836.0

### Question 7

In [12]:
lowest_sum7 = food_data.groupby("Area")["Y2017"].sum()

In [13]:
lowest_sum7.sort_values(inplace=True)
print(lowest_sum7.head(7).tail(1))

Area
Guinea-Bissau    19102.77
Name: Y2017, dtype: float64

### Question 8

In [14]:
protein = food_data.groupby(["Element", "Area"])["Y2015"].sum()

In [15]:
print(protein["Protein supply quantity (g/capita/day)"]["Madagascar"])

173.05

### Question 12

In [16]:
total_wine2015 = food_data.groupby("Item")["Y2015"].sum()
total_wine2018 = food_data.groupby("Item")["Y2018"].sum()

In [17]:
print(f'{total_wine2015["Wine"]} and {total_wine2018["Wine"]}')

4251.81 and 4039.32

### Question 15

In [18]:
stock_sum = food_data.groupby("Element")[["Y2014","Y2015","Y2016","Y2017"]].sum().reset_index()

In [19]:
print(stock_sum.iloc[15,:])

Element    Stock Variation
Y2014             58749.83
Y2015             34910.99
Y2016             33140.12
Y2017             54316.91
Name: 15, dtype: object

### Question 17

In [20]:
largest_area = food_data.groupby("Area")["Y2017"].sum()

In [21]:
largest_area.sort_values(ascending=False, inplace=True)
print(largest_area.head(1))

Area
Nigeria    1483268.23
Name: Y2017, dtype: float64

### Question 18

In [22]:
question18 = food_data.iloc[:, [0,1,2,3,4,5,6,10]]
question18.describe()

          Area Code     Item Code  Element Code          Y2017
count  60943.000000  60943.000000  60943.000000   59437.000000
mean     134.265576   2687.176706   3814.856456     140.917765
std       72.605709    146.055739   2212.007033    1671.862359
min        4.000000   2501.000000    511.000000   -1582.000000
25%       74.000000   2562.000000    684.000000       0.000000
50%      136.000000   2630.000000   5142.000000       0.100000
75%      195.000000   2775.000000   5511.000000       9.000000
max      276.000000   2961.000000   5911.000000  190873.000000

### Question 20

In [23]:
print(len(food_data["Area"].unique()))

49